body {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
/*von mir eingefügt start*/

/*http://www.mediaevent.de/tutorial/farbcodes.html*/
/* http://www.hexfarben.de/ */
#bg{

    width: 100%;
    position: absolute;
    z-index: -10;
    top: 0px;
    
}

#bgimage{
    width: 100%;
}

input [type=submit] {
    -webkit-appearance: none;/* Durch mich eingefügt */

}

A:link {text-decoration: none}  /*http://www.echoecho.com/csslinks.htm*/
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none;}

/*von mir eingefügt ende*/

#block-slide {
	height: 100px; /*höhe des block slide breiches*/ /*von mir geändert*/
	width: 100%;
	text-align: center;
	background: transparent; /*von mir geändert */ /* white */
	position: relative;
	overflow: visible;  /*von mir geändert*/ /*hidden*/
}

#block-slide > .img {
	position: absolute;
	left: -10px;
	top: -10px;
	-webkit-filter: blur(10px);
	z-index: 10; /*von mir geändert */ /*1-*/
}

#pages {         /*Einstellungen an der gesamten Reihe der einfliegenden Bilder*/
   	margin: 0px auto;
	position: relative; 
}

[class^='bpage'] {
	background: black;    /*white von mir geändert */
	top: 600px;    /*von wie weit von unten kommen die Bilder eingeflogen*/
	position: absolute;
	overflow-y: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: rgba(255,255,255,0.5); /* Hintergrundfarbe der einfliegenden Bilder*/ /* #f38cba /*von mir geändert*/
	border-radius: 6px; /*Rundung der Kanten der einfliegenden Bilder */  /*4*/
	/*von mir eingefügt */
    border-width: 2px; 
    border-color: rgba(105,105,105,0.7);
    border-style: solid;
}

body > [class^='bpage'] {  /*Einstellungen der Popup Box*/
	overflow: visible; /*von mir geändert visible*/
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

body > [class^='bpage'] .info, body > [class^='bpage'] img {
	display: none;
}

[class^='bpage'] .info { /*Einstellungen zum "Mehr"-Button*/
	background: #333A44;
	font-size: 1.4em;
	font-family: sans-serif;
	position: absolute;
	width: 100%;
	bottom: -100%;
	box-sizing: border-box;
	text-align: left;
	-moz-box-sizing: border-box;
	color: #fff;
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
	border-top: 3px solid rgba(0, 0, 0, 0.1);
}

[class^='bpage']:last-of-type {
	margin-right: 0 !important;
}

[class^='bpage'] .info span {
	display: block;
	margin: 10px;
	font-size: 1.2em;
}
[class^='bpage'] .info .active-button {
	background: #2AB852;
	border: none;
	border-bottom: 2px solid #5BD37D;
	box-shadow: inset 0 -20px 30px -30px rgba(0, 0, 0, 0.3);
	padding: 10px;
	width: 80%; /*Breite des "Mehr" OnMouseOver Buttons unter den einfliegenden Bildern*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #fff;
	font-size: 1.1em;
	cursor: pointer;
	margin: 10% 10% 10% 10%;
	border-radius: 2px;
	text-transform: uppercase;
	text-align: center;
	outline: none;
	position: relative;
}

[class^='bpage'] .info .active-button:active {
	top: 2px;
	border-bottom: none;
	border-top: 2px solid transparent;
	outline: none;
}

[class^='bpage'] .info .active-button:hover {
	background: #38c560;
}

[class^='bpage']:hover .info {
	bottom: 0;
}

[class^='bpage'] .modal {
	position: absolute;
	top: 0;
	left: 0;
	background: #F4FAFF;
	width: 100%;
	text-align: left;
	height: 100%; /* Höhe des Blocks, der Den Text in dem Popup hält*//*von mir gändert*/
	display: none;
	box-sizing: border-box;
	text-align: justify;
	font-size: 1.2em;
	line-height: 25px;  /* Zeilenhöhe in der Popup-Textbox*/
}

[class^='bpage'] h1 {
	font-size: 2.4em;
	color: #4E585F;
	padding: 5px 10px 15px 20px;
	font-family: 'adelle-sans', sans-serif;
}

[class^='bpage'] p {
	font-family: 'adelle-sans', sans-serif;
	color: #ACB4BB;
	padding: 0 20px;
	font-size: 1.1em;
}

[class^='bpage'] .button {
	font-family: 'adelle-sans', sans-serif;
	background: #46CBDD;
	text-transform: uppercase;
	box-shadow: inset 0 -34px 33px -20px #49B7EB;
	color: #FFF;
	text-shadow: 0 1px 0 #5DA7D1;
	float: right;
	font-size: 1.3em;
	bottom: 0; /*Abstand des Buttons in dem Popup zum unteren Rand der Box*/
	width: 100%;
	position: absolute;
	cursor: pointer;
	padding: 18px;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.8em;
    -webkit-appearance: none; /*Durch mich eingefügt*/	
}

[class^='bpage'] .button:hover {
	box-shadow: inset 0 34px 33px -20px #49B7EB;
    -webkit-appearance: none; /*Durch mich eingefügt http://css-tricks.com/almanac/properties/a/appearance/*/	
}
[class^='bpage'] .close {
	background: #D7DFE4;
	padding: 6px 7px 2px 8px;
	display: inline-block;
	position: absolute;
	top: 20px;
	cursor: pointer;
	border-radius: 200px;    /*Rundung des Schließen X in dem Popup */
	right: 20px;
	color: #FFF;
	font-family: 'SSStandard', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
    -webkit-appearance: none; /*Durch mich eingefügt*/	
}

[class^='bpage'] .close:hover {
	background: #222;
}

#block-slide .pseudoblanket {   /*Schwarzer Hintergrund beim Öffnen der PopUp Boxen*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.0);   /*von mir geändert rgba(0,0,0,0.6);*/
	z-index: 99999;
	display: none;
}

[class^='bpage'] img {
	width: 100%;
	height: auto;
}

#block-slide .disappear {
	z-index: 999999;
	top: 0px; /*von mir geändert 0*/
}


[class^='bpage'] .mobile-button {
	font-family: 'SSStandard', sans-serif;
	position: absolute;
	font-size: 3em;
	top: 20%;
	text-align: center;
	cursor: pointer;
	height: 100%;
	z-index: 9999;
	width: 100%;
	left: 0;
	color: #fff;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
}


/* The class below is only used for IE8. If you're wondering what it is, it's for IE8. */
#block-slide .opened { top: 50px !important; z-index: 999999 !important; }
#block-slide .opened .back-page { display: block !important; }

@media all and (max-width: 900px) {
	[class^='bpage'] p {
		font-size: 1em;
	}
}