
table {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 5%;
}

td {
    border: 0px solid;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-style: bold;
    font-family: Verdana, Geneva, sans-serif; /*http://www.w3schools.com/cssref/css_websafe_fonts.asp */
}

/* the icon that indicates the moisture of the plant */
#waterdropForMoisture {
    
    vertical-align: middle;
    height: 65px;
    width: auto;
    
}

/* the styling of e.g. the table row of the watering button */
.buttonTableData {
    
    border: 0px solid;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-style: bold;
    font-family: Verdana, Geneva, sans-serif; /*http://www.w3schools.com/cssref/css_websafe_fonts.asp */
    
}

/* syling of the watering button */
#watering_button {
    -webkit-appearance: none;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 23px;
    background: #3d3d3d;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 4px;
    text-decoration: none;
}

/* the plant icon that is displayed instead of the watering button */
#centralPlantIcon{
    
    vertical-align: middle;
    height: 170px;
    width: auto;
    
}

/* the styling of e.g. the timestamp of the last watering event */
.mediumTableData {
    
    padding-top: 45px;
    border: 0px solid;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-style: medium;
    font-family: Verdana, Geneva, sans-serif; /*http://www.w3schools.com/cssref/css_websafe_fonts.asp */
}

/* the little icon that indicates the waterin can and the last manual watering initiation timestamp */
#wateringCanWithWateringTimestamp {
    
    vertical-align: middle;
    height: 50px;
    width: auto;
    
}