
table {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 5%;
}

td {
    border: 0px solid;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-style: bold;
    font-family: Verdana, Geneva, sans-serif; /*http://www.w3schools.com/cssref/css_websafe_fonts.asp */
}

/* the icon that indicates the moisture of the plant */
#waterdropForMoisture {
    
    vertical-align: middle;
    height: 65px;
    width: auto;
    -webkit-filter: drop-shadow(0px 0px 10px #fff);
    filter: drop-shadow(0px 0px 10px #fff);
    
}


/* the styling of e.g. the table row of the watering button */
.buttonTableData {
    
    border: 0px solid;
    height: 220px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-style: bold;
    font-family: Verdana, Geneva, sans-serif; /*http://www.w3schools.com/cssref/css_websafe_fonts.asp */
    
}

/* syling of the back to index button after the watering event was initiated. This button should look similar to the watering_button_enabled*/
#back_to_index_button {
    -webkit-appearance: none;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 23px;
    background: #3d3d3d;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 4px;
    text-decoration: none;
}

/* syling of the watering button when the watering is needed and the watering action can be performed*/
#watering_button_enabled {
    -webkit-appearance: none;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 23px;
    background: #3d3d3d;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 4px;
    text-decoration: none;
}

/* syling of the watering button whent the watering is currently not needed*/
#watering_button_disabled {
    -webkit-appearance: none;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #666666;
    font-size: 23px;
    background: #d9d9d9;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
}

/* the plant icon that is displayed instead of the watering button */
#centralPlantIcon{
    
    vertical-align: middle;
    height: 170px;
    width: auto;
    
}

/* the styling of e.g. the timestamp of the last watering event */
.mediumTableData {
    
    padding-top: 10px;
    border: 0px solid;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-style: medium;
    font-family: Verdana, Geneva, sans-serif; /*http://www.w3schools.com/cssref/css_websafe_fonts.asp */
}

/* the styling of e.g. the timestamp of the last watering event */
.twitterTableData {
    
    padding-top: 130px;
    border: 0px solid;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-style: medium;
    font-family: Verdana, Geneva, sans-serif; /*http://www.w3schools.com/cssref/css_websafe_fonts.asp */
}

/* the little icon that indicates the waterin can and the last manual watering initiation timestamp */
#wateringCanWithWateringTimestamp {
    
    vertical-align: middle;
    height: 50px;
    width: auto;
    
}
